/* Sticky footer styles
 -------------------------------------------------- */
html, body {
	height: 100%;
	min-width: 600px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	width: 100%;
	background-color: #f5f5f5;
}

.container {
	width: auto;
	max-width: 1200px;
	padding: 0 15px;
}
.container .text-muted {
	margin: 20px 0;
}

.user-icon {
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	max-height: 40px;
}

.forum.table > tbody > tr > td {
	vertical-align: middle;
}

.forum .fa {
	width: 1em;
	text-align: center;
}

.forum.table th.cell-stat {
	width: 6em;
}

.forum.table th.cell-stat-2x {
	width: 14em;
}

#editor {
	width: 100%;
	min-height: 400px;
}

.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}
.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}
.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}
.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

#startNewTopicModalForm .modal-dialog {
	width: 80%;
	min-width: 80%;
}

#newPostModalForm .modal-dialog {
	width: 80%;
	min-width: 80%;
}