<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<title>Forum</title>  

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="vendor/wysibb/theme/default/wbbtheme.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="js/bbcodeParser.js"></script>
<script src="js/app/app.js"></script>
<script src="vendor/wysibb/jquery.wysibb.min.js"></script>

</head>
<body ng-app="forumApp">
   
	<!-- navbar -->
	<nav ng-controller="navbarController" class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<!-- navbar button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- brand -->
				<a class="navbar-brand" href="#/">TestForum</a>
			</div>
			<div id="navbar">
				<!-- left side -->
				<ul class="nav navbar-nav collapse navbar-collapse" role="navigation">
					<li><a href="#/">Forums</a></li>
					<li><a href="#/members">Members</a></li>
				</ul>
				<!-- end of left side -->
		
				<!-- right side -->
				<div ng-if="data.loggedIn">
					<ul class="nav navbar-top-links navbar-right" role="navigation">
						<!-- messages -->	
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="">
								<div class="{{data.messagesUnread ? 'text-danger' : ''}}">
									<i class="fa fa-envelope fa-fw " /></i> <i class="fa fa-caret-down"></i>
								</div>
							</a>
							<ul class="dropdown-menu dropdown-messages">
								<li ng-repeat-start="message in data.messages">
									<a href="{{message.link}}">
										<div class="small {{message.unread ? 'text-danger' : ''}}">
											<div>
												<strong>{{message.title}}</strong>
												<span class="pull-right small">
													{{message.time}}
												</span>
											</div>
											{{message.sender}}
										</div>
									</a>
								</li>
								<li ng-repeat-end class="divider"></li>
								<li>
									<a class="text-center" href="#/messages">
										<strong>Read All Messages</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</li>							
							</ul>						
						</li>
						<!-- end of messages -->
						
						<!-- notifications -->
						<li class="dropdown">						
							<a class="dropdown-toggle" data-toggle="dropdown" href="">
								<div class="{{data.notificationsUnread ? 'text-danger' : ''}}">
									<i class="fa fa-bell fa-fw "></i> <i class="fa fa-caret-down"></i>
								</div>
							</a>					
							<ul class="dropdown-menu dropdown-messages">
								<li ng-repeat-start="notification in data.notifications">
									<a href="{{notification.link}}">
										<div class="small {{notification.unread ? 'text-danger' : ''}}">
											<div>
												<strong>{{notification.type}}</strong>
												<span class="pull-right small">
													{{notification.time}}
												</span>
											</div>
											{{notification.text}}
										</div>
									</a>
								</li>
								<li ng-repeat-end class="divider"></li>
								<li>
									<a class="text-center" href="#/notifications">
										<strong>See All Alerts</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</li>  
						<!-- end of notifications -->
						
						<!-- user -->
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="">
								{{data.username}} <i class="fa fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
								</li>
								<li><a href="#/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
								</li>
								<li class="divider"></li>
								<li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
								</li>
							</ul>
						</li>
						<!-- end of user -->
					</ul>
				</div>					
				<div ng-if="!data.loggedIn">
					<ul class="nav navbar-top-links navbar-right" role="navigation">
						<li>
							<a href="#/login"><i class="fa fa-sign-in fa-fw"></i> Login</a>						
						</li>
						<li>
							<a href="#/signup"><i class="fa fa-sign-in fa-fw"></i> Sign up</a>						
						</li>
					</ul>
				</div>
				<!-- end of right side -->
			</div>			
		</div>
    </nav>
	<!-- end of navbar -->

	<div class="container">
	
		<div ng-view></div>

	</div>

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<p class="text-muted">© TestForum</p>
		</div>
    </footer>
	<!-- end of footer -->
	

	</body>
</html>
