<div class="well"
	style="padding-left: 30px; padding-right: 30px; padding-bottom: 30px;">

	<!-- topics -->
	<table class="table forum table-striped">
		<thead>
			<tr>
				<th class=""><h3>My Notifications</h3></th>
				<th class="cell-stat-2x"></th>
			</tr>
		</thead>
		<tbody>
			<!-- notification -->
			<tr ng-repeat="notification in data.notifications">
				<td>
					<div ng-if="notification.unread">
						<b><a href="{{notification.link}}" ng-click="readNotification(notification.id)">{{notification.type}}</a></b>
					</div>
										
					<div ng-if="!notification.unread">
						<a href="{{notification.link}}" ng-click="readNotification(notification.id)">{{notification.type}}</a>
						<br/>
					</div>
										
					<small>
					 	{{notification.text}} 
					</small>
				</td>
				<td>
					{{notification.time}}
				</td>
			</tr>
			<!-- end of notification -->

		</tbody>
	</table>
	<!-- end of topics -->

	<div style="margin-top: 25px;">
		<!-- pagination -->
		<div class="btn-group ">
			<ul class="pagination" style="margin: 0;">
				<li ng-repeat="page in data.pages"
					ng-class="{active: page.active==true}"><a href="{{page.link}}">{{page.text}}</a>
				</li>
			</ul>
		</div>
		<!-- end of pagination -->
	</div>
</div>