<div class="well"
	style="padding-left: 30px; padding-right: 30px; padding-bottom: 30px;">

	<!-- topics -->
	<table class="table forum table-striped">
		<thead>
			<tr>
				<th class=""><h3>My Notifications</h3></th>
				<th class="cell-stat-2x"></th>
			</tr>
		</thead>
		<tbody>
			<!-- notification -->
			<tr ng-repeat="notification in data.notifications">
				<td>
					<div ng-if="notification.unread">
						<b><a href="{{notification.link}}" ng-click="readNotification(notification.id)">{{notification.type}}</a></b>
					</div>
										
					<div ng-if="!notification.unread">
						<a href="{{notification.link}}" ng-click="readNotification(notification.id)">{{notification.type}}</a>
						<br/>
					</div>
										
					<small>
					 	{{notification.text}} 
					</small>
				</td>
				<td>
					{{notification.time}}
				</td>
			</tr>
			<!-- end of notification -->

		</tbody>
	</table>
	<!-- end of topics -->

	<div style="margin-top: 25px;">
		<!-- pagination -->
		<div class="btn-group ">
			<ul class="pagination" style="margin: 0;">
				<li ng-repeat="page in data.pages"
					ng-class="{active: page.active==true}"><a href="{{page.link}}">{{page.text}}</a>
				</li>
			</ul>
		</div>
		<!-- end of pagination -->
	</div>
</div>

<div id="newMessageModalForm" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>Send New Message</h2>
			</div>
			<div class="modal-body">
				<form id="startNewTopicForm">
					<div class="form-group">
						<label for="subject" class="control-label">Subject</label>
						<input type="text" class="form-control" id="subject" name="subject" value="" title="Please enter the message subject">
					</div>
					<div class="form-group">
						<label for="recipients" class="control-label">Recipients</label>
						<input type="text" class="form-control" id="recipients" name="recipients" value="" title="Please enter the recipients seperated with ';'>
					</div>
					<div class="form-group">
						<label for="bbcodeEditor" class="control-label">Text</label>
						<textarea rows="25" name="bbcodeEditor" id="bbcodeEditor"
							class="form-control"></textarea>
						<div id="previewDiv" class="panel panel-default">
							<div class="panel-heading">Preview</div>
							<div id="previewHtml" class="panel-body"></div>
						</div>
					</div>
					<button id="previewButton" class="btn btn-primary" onclick="togglePreview()">Preview</button>
					<button type="submit" class="btn btn-primary pull-right">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#previewDiv").hide();
	});
	
	function togglePreview() {
		var text = $("#previewButton").html();
		if (text == "Preview") {
			preview();
		} else {
			edit();
		}
	}

	function preview() {
		$("#previewButton").html("Edit");
		$("#bbcodeEditor").hide();
		$("#previewDiv").show();

		var text = $("#bbcodeEditor").val();
		text = text.replace(/\n/g, "[br][/br]");
		var result = XBBCODE.process({
			text : text,
			removeMisalignedTags : false,
			addInLineBreaks : false
		});
		$("#previewHtml").html(result.html);
	}

	function edit() {
		$("#previewButton").html("Preview");
		$("#previewDiv").hide();
		$("#bbcodeEditor").show();
	}
</script>