<div class="well" style="padding-left:30px;padding-right:30px;padding-bottom:30px;">

	<div class="container">
		<div class="pull-left">
			<h3>{{data.title}}</h3>
			<h6>Started by {{data.startedByText}}</h6>
		</div>
		<div class="pull-right">

			<h3>
			<button type="button" class="btn btn-primary">
				Follow
			</button></h3>
		</div>
	</div>

	<div class="container">
		<!-- posts -->
		<div ng-repeat="post in data.posts" id="post{{post}}" class="panel-group">

			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="container">
							<div class="pull-left small">
								<h4><a href="{{post.userLink}}">{{post.username}}</a></h4>
								<small>{{post.time}}</small>
							</div>
							<div class="pull-right small">
								<h5><a href="{{post.postLink}}">{{post.postNumber}}</a></h5>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-xs-2 text-center">
							<img class="img-thumbnail" src="images/user.png"></img>

							<h5>{{post.memberGroup}}</h5>
							<h6>{{post.postCount}} posts</h6>
						</div>
						<div class="col-xs-10 text-center">
							<div class="container">
								<div class="post-text" ng-bind-html="post.text"></div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="container">
							<div class="pull-left">
								<button type="button" class="btn btn-sm btn-primary">
									Edit
								</button>
								<button type="button" class="btn btn-sm btn-primary">
									Delete
								</button>
								
								<button type="button" class="btn btn-sm btn-primary">
									Quote
								</button>
								<button type="button" class="btn btn-sm btn-primary">
									Like
								</button>
							</div>
							<div class="pull-right">
								<a>{{post.likeCount}} likes</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- end of posts -->

		<div id="test" style="margin-top: 25px;">
			<!-- new reply button -->
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModalForm">
					New Reply
				</button>
			</div>
			<!-- end of new reply button -->

			<!-- pagination -->
			<div class="btn-group ">
				<ul class="pagination" style="margin: 0;">
					<li ng-repeat="page in data.pages" ng-class="{active: page.active==true}">
						<a href="{{page.link}}">{{page.text}}</a>
					</li>
				</ul>
			</div>
			<!-- end of pagination -->
		</div>
	</div>
</div>

<div id="newPostModalForm" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>New Reply</h2>
			</div>
			<div class="modal-body">
				<form id="newPostForm">
					<div class="form-group">
						<label for="bbcodeEditor" class="control-label">Text</label>
						<textarea rows="25" name="bbcodeEditor" id="bbcodeEditor" class="form-control"></textarea>
						<div id="previewDiv" class="panel panel-default">
							<div class="panel-heading">Preview</div>
							<div id="previewHtml" class="panel-body"></div>
						</div>
					</div>
					<button id="previewButton" class="btn btn-primary" onclick="togglePreview()">Preview</button>
					<button type="submit" class="btn btn-primary pull-right">Post</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#previewDiv").hide();
	});
	
	function togglePreview() {
		var text = $("#previewButton").html();
		if (text == "Preview") {
			preview();
		} else {
			edit();
		}
	}
	
	function preview() {
		$("#previewButton").html("Edit");
		$("#bbcodeEditor").hide();
		$("#previewDiv").show();
	
		var text = $("#bbcodeEditor").val();
		text = text.replace(/\n/g, "[br][/br]");
		var result = XBBCODE.process({
			text : text,
			removeMisalignedTags : false,
			addInLineBreaks : false
		});
		$("#previewHtml").html(result.html);
	}
	
	function edit() {
		$("#previewButton").html("Preview");
		$("#previewDiv").hide();
		$("#bbcodeEditor").show();
	}
</script>