<div class="well" style="padding-left:30px;padding-right:30px;padding-bottom:30px;">

	<div class="container">
		<div class="pull-left">
			<h3>{{data.title}}</h3>
			<h6>Started by {{data.startedByText}}</h6>
		</div>
		<div class="pull-right">

			<h3>
			<button id="followTopicButton" type="button" class="btn btn-primary" ng-click="toggleFollowingTopic()">Follow</button></h3>
		</div>
	</div>

	<div class="container">
		<!-- posts -->
		<div ng-repeat="post in data.posts" id="post{{post}}" class="panel-group">

			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="container">
							<div class="pull-left small">
								<h4><a href="{{post.userLink}}" style="{{post.style}}">{{post.username}}</a></h4>
								<small>{{post.time}}</small>
							</div>
							<div class="pull-right small">
								<h5>{{post.postNumber}}</h5>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-xs-2 text-center">
							<img class="img-thumbnail" src="{{post.userImageLink}}"></img
							<h5>{{post.memberGroup}}</h5>
							<h6>{{post.postCount}} posts</h6>
						</div>
						<div class="col-xs-10 text-center">
							<div class="container">
								<div class="post-text" ng-bind-html="post.textBBCode"></div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="container">
							<div class="pull-left">
								<button id="quoteButton" type="button" class="btn btn-sm btn-primary" ng-disabled="post.isQuoteDisabled" ng-click="openQuotePanel(post.username, post.userLink, post.postNumber, post.postLink, post.text)" >
									Quote
								</button>
								<button id="likePostButton" type="button" class="btn btn-sm btn-primary" ng-disabled="post.isLikeDisabled" ng-click="toggleLikingPost(post)" onclick="getScrollPosition()">{{post.likePostButtonText}}</button>
							</div>
							<div class="pull-right">
								<button uib-popover="{{post.likers}}" type="button" class="btn btn-sm btn-primary">{{post.likeCount}} likes</button> 	
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- end of posts -->

		<div id="test" style="margin-top: 25px;">
			<!-- new reply button -->
			<div class="btn-group pull-right">
				<button id="newReplyButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModalForm" ng-click="setLastQuote(null);" ng-click="edit()">
					New Reply
				</button>
			</div>
			<!-- end of new reply button -->

			<!-- pagination -->
			<div class="btn-group ">
				<ul class="pagination" style="margin: 0;">
					<li ng-repeat="page in data.pages" ng-class="{active: page.active==true}">
						<a href="{{page.link}}">{{page.text}}</a>
					</li>
				</ul>
			</div>
			<!-- end of pagination -->
		</div>
	</div>
</div>

<div id="newPostModalForm" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>New Reply</h2>
			</div>
			<div class="modal-body">
				<form id="newPostForm">
					<div class="form-group">
						<label for="bbcodeEditor" class="control-label">Text</label>
						<textarea rows="25" name="bbcodeEditor" id="bbcodeEditor" class="form-control"></textarea>
						<div id="previewDiv" class="panel panel-default">
							<div class="panel-heading">Preview</div>
							<div id="previewHtml" class="panel-body"></div>
						</div>
					</div>
					<button id="previewButton" class="btn btn-primary" ng-click="togglePreview()">Preview</button>
					<button id="submitPostButton" type="submit" class="btn btn-primary pull-right" ng-click="submitPost()">Post</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function getScrollPosition() {
		alert("Position (X,Y): " + window.scrollX + "," + window.scrollY);
	}
</script>