<div class="well" style="padding-left:30px;padding-right:30px;padding-bottom:30px;">

	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-2 text-center">
						<img class="img-thumbnail" src="images/user.png"></img>
					</div>
					<div class="col-xs-10">
						<h2>{{data.name}}</h2>
						<h6>Member since {{data.joined}}</h6>
						<h6>Last active {{data.active}}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="panel with-nav-tabs panel-default">
				<div class="panel-heading">
					<ul class="nav nav-tabs">
						<li>
							<a href="#/user/28">Overview</a>
						</li>
						<li>
							<a href="#/user/28/topics">Topics</a>
						</li>
						<li class="active">
							<a href="#/user/28/posts">Posts</a>
						</li>
						<li>
							<a href="#/user/28/likes">Likes</a>
						</li>
					</ul>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<!-- posts -->
						<div ng-repeat="post in data.posts" class="tab-pane active" id="tabTopics">
							<div class="container">
								<div class="panel-group">
									<div class="panel panel-default">
										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="container">
													<div class="pull-left small">
														<h4><a href="{{topic.link}}">In Topic: {{post.title}}</a></h4>
													</div>
													<div class="pull-right small">
														<small>{{post.date}}</small>
													</div>

												</div>
											</div>
											<div class="panel-body">
												<div class="container">
													<div class="post-text" ng-bind-html="post.text"></div>
												</div>
											</div>
											<div class="panel-footer user-panel-footer">
												<div class="container">
													<div class="pull-right">
														<a>25 likes</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end of posts -->

						<div style="margin-top: 25px;">
							<!-- pagination -->
							<div class="btn-group ">
								<ul class="pagination" style="margin: 0;">
									<li ng-repeat="page in data.pages" ng-class="{active: page.active==true}">
										<a href="{{page.link}}">{{page.text}}</a>
									</li>
								</ul>
							</div>
							<!-- end of pagination -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
